.widget-form-container textarea[name="summary"],
.widget-form-container .html-edit
{
    min-height: 200px;
    font-family: verdana;
    line-height: 13px;
    color: black;
	top: 0px;
	overflow: hidden;
	font-family: Arial;
	line-height: 20px;
}

.widget-form-container label {
    color: #963B20;
    color: #888;
    font-weight: bold;
	font-size: 12px;
}

.widget-form-container form {
    margin-bottom: 0px;
}

.widget-form-container .select.field {
    overflow: visible;
}

.widget-form-container .select.field .chosen-results {
    clear: both;
}

.widget-form-container .field:after {
    content: '';
    display: block;
    clear: both;
}

.widget-form-container .field label{
	
}

.widget-form-container .field input{ float: left; }

.widget-form-container input,
.widget-form-container select,
.widget-form-container button
{
	height: 36px;
	float: left;
}

.widget-form-container input,
.widget-form-container select,
.widget-form-container textarea,
.widget-form-container .html-edit {
    border: 0px;
    background: #EEE;
    margin-bottom: 5px;
	font-size: 16px;
	padding-left: 5px;
	color: #666;
}

.widget-form-container textarea,
.widget-form-container .html-edit {
	/*box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);*/
}

widget-form-container legend:first-child {
    margin-top: 35px;
}

.widget-form-container legend {
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 25px;
	color: #963B20;
	border-bottom: 1px solid #DDD;
	width: 100%;
}

.widget-form-container .file-container{
	margin: 0;
	padding: 0;
	list-style-type: none;
}