.list {
    width: 100%;
    font-size: 14px;
}

.list-head td {
    font-weight: normal;
    color: #999;
    font-size: 12px;
}

.list-item td {
    padding-left: 5px;
	background-color: #EEE;
}

.list-item {
    cursor: pointer;
    height: 35px;
}

.list-item.selected td{
    cursor: auto;
    color: white;
    background: #ff5a00;
}

.list-item a {
    word-wrap: break-word;
    color: #FFFFFF;
    text-decoration: none;
    padding: 2px 10px;
    border: 1px solid #B46753;
    background: #ff5a00;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 700;
    display: block;
    max-width: 70px;
    float: left;
    text-align: left;
}

.list-item.selected a {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px dashed #fff;
    background: transparent;
}

.list-item a:hover {
    background: #963B20;
}

.list-item.selected a:hover {
    background: #963B20;
}

.list .action-column{
	padding: 0;
	width: 40px;
}
.list .action-column a{
	margin: 0;
	border: none;
	padding: 0 5px;
	background-color: transparent;
	max-width: none;
	color: #FF7000;
}

.list .action-column a span{
	color: #FF7000;
}
.list .action-column{

}

/*
.list .action-column a.product-variant-link,
.list .action-column a.product-unit-link,
.list .action-column a.product-color-link,
.list .action-column a.page-article-link 
*/
.list .action-column a
{
	border: none;
	color: #666;
	background-color: #E9E9E9;
	height: 40px;
	line-height: 40px;
}

/*
.list .action-column a.product-variant-link:hover,
.list .action-column a.product-unit-link:hover,
.list .action-column a.page-article-link:hover
*/
.list .action-column a:hover
{
	background-color: #D9D9D9;
}

.list .action-column a.product-unit-link{ width: 110px;}
.list .action-column a.product-color-link{ width: 70px;}
.list .action-column a.product-variant-link{ width: 85px;}
.list .action-column a.page-article-link{ width: 90px;}

.list .action-column a.delete-link{
	width: 40px;
	height: 40px;
	background: #E9E9E9 url(img/delete.png) no-repeat center;
	background-size: 40%;
}

.list .action-column a.delete-link:hover{
	background: #D9D9D9  url(img/delete_hover.png) no-repeat center;
	background-size: 60%
}

.list .action-column a.raise-level{
	width: 40px;
	height: 40px;
	background: #E9E9E9 url(img/raise.png) no-repeat center;
	background-size: 40%;
}

.list .action-column a.raise-level:hover{
	background: #D9D9D9  url(img/raise-hover.png) no-repeat center;
	background-size: 40%
}

.list .action-column a.lower-level{
	width: 40px;
	height: 40px;
	background: #E9E9E9 url(img/lower.png) no-repeat center;
	background-size: 40%;
}

.list .action-column a.lower-level:hover{
	background: #D9D9D9  url(img/lower-hover.png) no-repeat center;
	background-size: 40%
}

.list .action-column .hide {
    display: none;
}

/*************** Vesting Specific **************************/
.list .action-column a.delete-link {text-indent: -9999px;}
.list-item td:first-child{
	padding-left: 5px;
}
.list-item td{
	padding: 0 5px;
}
.colorbox{ 
	width: 100%;
	height: 40px;
	display: block;
}