ul.sexy-tabs {
    padding-left: 0px;
    overflow: hidden;
    margin-top: 0px;
    border-bottom: 1px solid #999;
}

ul.sexy-tabs li {
    float:left;
    padding: 5px;
    cursor: pointer;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    font-size: 12px;
    width: 85px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ul.sexy-tabs li:last-child {
    border-right: 1px solid #999;
}

ul.sexy-tabs li.selected,
ul.sexy-tabs li:hover
{
    background: #E13300;
    color: white;
    border-left: 1px solid #B46753;
    border-top: 1px solid #B46753;
}

ul.sexy-tabs li.selected:hover {
    background: #963B20;
}