ul.nav {
    padding-left: 0px;
    border-bottom: 0px;
    margin-top: 0px;
}

ul.nav li {
    background: #999;
    text-transform: capitalize;
    display: block;
	border-bottom: 1px solid #424242;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

ul.nav li:not(:first-child){
	border-top: 1px solid rgba(0,0,0,0.4);
}

ul.nav li a {
    padding: 10px 20px;
    display:block;
    background: #525252;
    color: #CCC;
    text-decoration: none;
	font-size: 16px;
	text-shadow: -1px -1px rgba(0,0,0,0.6);
}

ul.nav li a:hover,
ul.nav li a.selected
{
    background: #5C5C5C;
    color: white;
}

ul.nav li a.selected,
ul.nav li a.selected:hover {
    background-color: #5c5c5c; /* Old browsers */
	background-color: -moz-linear-gradient(top,  #5c5c5c 0%, #6d6d6d 100%); /* FF3.6+ */
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c5c5c), color-stop(100%,#6d6d6d)); /* Chrome,Safari4+ */
	background-color: -webkit-linear-gradient(top,  #5c5c5c 0%,#6d6d6d 100%); /* Chrome10+,Safari5.1+ */
	background-color: -o-linear-gradient(top,  #5c5c5c 0%,#6d6d6d 100%); /* Opera 11.10+ */
	background-color: -ms-linear-gradient(top,  #5c5c5c 0%,#6d6d6d 100%); /* IE10+ */
	background-color: linear-gradient(to bottom,  #5c5c5c 0%,#6d6d6d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-9 */

    color: white;
}

ul.nav li a.selected:hover {
   
}

ul.nav li a.account img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 50%;
}

ul.nav li a.account {
    background: #494949;
}

ul.nav li a.account .text-muted {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    text-transform: initial;
}
